.pagesix_cont {
  background: linear-gradient(
    270deg,
    #dadae4 0.25%,
    #eeeef0 24.33%,
    #f8f8f8 52.08%,
    #fefefe 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p6_title {
  width: 335px;
  height: 86px;

  /* font-family: Reptile; */
  font-family: "Noto Serif Display", serif;

  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 134.8%;
  /* or 43px */
  color: #000000;

  margin-top: 34px;
  margin-left: 20px;
}

.p6_desc {
  width: 308px;
  height: 145px;
  left: 30px;
  top: 5141px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 206.5%;
  /* or 29px */

  color: rgba(0, 0, 0, 0.8);
  margin-top: 22px;
}

.p6_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 18px 45px; */

  position: absolute;
  width: 315px;
  height: 66px;
  outline: none;
  border: 0px;

  background: linear-gradient(
    288.62deg,
    #6e8cf6 42.36%,
    rgba(110, 213, 246, 0.93) 115.74%
  );
  box-shadow: 0px 2px 16px rgba(71, 222, 255, 0.33);
  border-radius: 70px;

  /* text inside btn */

  position: static;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 19.8605px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.p6_img {
  /* width: 100%; */
  margin-top: 35px;
  margin-bottom: 0px;
}

@media screen and (max-width: 460px) {
  .p6_img {
    width: 100%;
  }
}
